body {
font-family: 'Titillium Web', sans-serif;
}

.titillium {
  font-family: 'Titillium Web', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.bg-eminence {
  background-color: #73398A;
}

.bossanova {
  color: #502866;
}

